body {
    font-family:sans-serif;
    font-size:1.5em;
}
div.body {
    background-color:silver;
    margin:0 auto;
}
div.whole{
    width:674px;
    margin:0 auto;
}
.gag {
    text-align:center;
    line-height:1.5;
    margin-top:6%;
    border-style:solid;
    border-color:black;
    border-width:2px;
    -moz-border-radius:20px;
    padding-left:5%;
    padding-right:5%;
    padding-top:1%;
    padding-bottom:1%;
}
body.p{
    color:black;
}
#menu ul
{
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: left;
}
#menu li{
    float: left;
    margin : 0 2.5em;
    display: inline;
}
#menu li a{
    height: 1.5em;
    line-height: 1.5em;
    float: left;
    width: 5em;
    display: block;
    color: black;
    text-decoration: none;
    text-align: center;
    font-size: 0.8em;
}
#menu li a:link{
    text-decoration:none;
    color:black;
}
#menu li a:visited{
    text-decoration:none;
    color:black;
}
#menu li a:hover{
    text-decoration:none;
    color:black;
}
#menu li a:active{
    text-decoration:none;
    color:black;
}
#href a:link{
    color:black;
}
#clients li {
    list-style: none;
}
#clients ul{
    list-style: none;
    text-align: left;
}